.table-of-donors.v-data-table::v-deep {
  thead th {
    opacity: 0.75;
    font-size: 0.675rem;
  }
  tbody tr {
    cursor: pointer;
    &:hover {
      box-shadow: inset 0 0 1px 2px rgb(129,212,250);
      background-color: unset !important;
    }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   z-index: 1;
    //   display: block;
    // }

    // &:hover::before {
    //   outline: 2px solid rgb(129,212,250);
    // }
  }
}
